# Temporary Files
*.retry

# Python
*.py[cod]
*.pyo
*.pyc
*.pyd
__pycache__
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.bak1

# Ansible
*.vault
*.vault.txt
vault_password_file

# Miscellaneous
*.swp
*.bak
*.orig
*.old
*.tmp
.DS_Store
Thumbs.db

id_rsa